body
	{
		background-color: #886A08;
	}
table 
	{
    border-collapse: collapse;
	}

table, td, th 
	{
    border: 10px solid #886A08;
	}
	
a:hover 
	{
		color: #886A08;
	}
	
#headern
	{
	position:absolute;
	width:100%;
	height:80px;   
	background:#6cf;
	font-size: large;
	}
	
.button {
    background-color:  #6cf;
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
	width: 150px;
}
.footerbutton
{
    background-color:  #6cf;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
}
.bodytable
{
	background-color: #B18904;
	position: absolute;
    top: 100px;
    right: 0;
    height: 200px;
	width: 100%;/* 560px;  you have to have a size or this method doesn't work */
    position: absolute; /* positions out of the flow, but according to the nearest parent */
    margin: auto; /* make em equal */
	text-align:  justify;
	border: 10px solid #B18904;
	
}

#footer 
{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background:#6cf;
}