@{
    ViewBag.Title = "GissaFarg";
}
@section scripts{
    <script>
        var app = angular.module('GissaFarg', []);

        app.controller('GissaFargController', function ($scope, $http, $location) {
            $scope.registerScore = function () {
                var data = { nickname: $scope.nickname, score: points, game_id: 3 };
                $http.post(MiniProj.rootPath + 'Score/Register', data).then(function (resp) {
                    $scope.alertType = 'success';
                    $scope.alertMsg = 'Successfully registered: ' + data;
                    window.location = MiniProj.rootPath + 'Score/';
                },
                function (resp) {
                    $scope.alertType = 'danger';
                    $scope.alertMsg = 'could not register score';
                });
                
            };
        });
    </script>
}

<div>
    <style>
        .button0 {
            background-color: #00ff33;
            border: none;
            color: #00ff33;
            padding: 32px 64px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 28px;
            width: 150px;
        }

        .button1 {
            background-color: #ff0000;
            border: none;
            color: #ff0000;
            padding: 32px 64px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 28px;
            width: 150px;
        }

        .button2 {
            background-color: #0026ff;
            border: none;
            color: #0026ff;
            padding: 32px 64px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 28px;
            width: 150px;
        }

        .button3 {
            background-color: #ffd800;
            border: none;
            color: #ffd800;
            padding: 32px 64px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 28px;
            width: 150px;
            vertical-align: middle;
        }
    </style>
</div>

<div>
    <center>
        <h2 id="ShowColor">
            gul
        </h2>
    </center>
    
    <div class="bodytable">
        <center>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <th>
                            <button type="button" class="button0" name="1" id="1" onclick="clicked(1)">fel</button>
                        </th>
                        <th>
                            <button type="button" class="button1" name="2" id="2" onclick="clicked(2)">fel</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="button" class="button2" name="3" id="3" onclick="clicked(3)">fel</button>
                        </th>
                        <th>
                            <button type="button" class="button3" name="4" id="4" onclick="clicked(4)">fel</button>
                        </th>
                    </tr>
                </table>
            }
            <div ng-app="GissaFarg" ng-controller="GissaFargController" id="showForm">
                <form class="form-inline" data-ng-submit="registerScore()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Smeknamn:</span>
                            <input class="form-control" type="text" name="nickname" data-ng-model="nickname" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Registrera</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>
<script>

    var rightbutton = [4, 1, 2];
    var rightcolor = ["gul", "rosa", "röd",""]
    var points = 0;
    var i = 0;
    var n = 0;
    var colorArray = ["#003300", "#0f3600", "#333300", "#FF3399", "#ffff00", "#bfff00", "#ff0000", "#00ffbf"];
    var showform = document.getElementById("showForm");
    showform.style.visibility = "hidden";
    function clicked(buttonNr) {
        console.log("rightbutton " + rightbutton[i] + "\nbuttonNr " + buttonNr + "\nn " + n + " i " + i + "\npoints " + points);
        var property4 = document.getElementById(4);
        var property3 = document.getElementById(3);
        var property2 = document.getElementById(2);
        var property1 = document.getElementById(1);

        if (buttonNr == rightbutton[i]) {

            property4.style.backgroundColor = colorArray[n];
            property3.style.backgroundColor = colorArray[n + 1];
            property2.style.backgroundColor = colorArray[n + 2];
            property1.style.backgroundColor = colorArray[n + 3];
            property4.style.color = colorArray[n];
            property3.style.color = colorArray[n + 1];
            property2.style.color = colorArray[n + 2];
            property1.style.color = colorArray[n + 3];
            points = points + 1;
            n = n + 4;
            i = i + 1;
            if (i == 3) {
                showform.style.visibility = "visible";
            }
            document.getElementById("ShowColor").innerHTML = rightcolor[i];
        }
        else {

            var property = document.getElementById(buttonNr);
            property.style.backgroundColor = "#FFFFFF"
            property.style.color = "#000000";
        }

    }

</script>