body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 255px;
}

.star {
    color: red;
    font-weight: bold;
}
.clear {clear:both;}
/** GAME IMAGE **/
.game-holder {
    position:relative;
    max-width:330px;
}
.game-image-holder {
    position:relative;
    margin-bottom:20px;
}
.game-holder .input-lg {
    font-size:25px;
    text-transform:uppercase;
}
.game-input-holder {
    position:relative;
    margin-bottom:20px;
}
.game-image-holder {
    position:relative;
}

.game-image-result {
    position:relative;
}
.game-btn-holder {
    position:relative;
}
.page-counter-holder {
    text-align:center;
    font-weight:bold;
    font-size:18px;
    padding:10px;
}
.btn-next {
    position:relative;
    float:right;
}
.total-score {
    position:relative;
    float:left;
    font-size:18px;
}
.game-result-info {
    font-weight:bold;
    padding:10px;
    font-size:18px;
}