@model IEnumerable<Miniprojekt.Models.Result>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/App/Score/IndexController.js"></script>
}

<div data-ng-app="score" data-ng-controller="IndexController">
    <div class="col-sm-12">
        <h2>Topplista</h2>
        <h4>{{ alertMsg }}</h4>
        <div class="input-group">
            <label for="selectedGame" class="input-group-addon">Spel:</label>
            <select class="form-control" name="selectedGame" data-ng-model="selectedGame">
                <option value="-1">Alla</option>
                <option data-ng-repeat="g in games" value="{{ g.id }}">{{ g.name }}</option>
            </select>
        </div>

        <table class="table-condensed table-striped">
            <thead>
                <tr>
                    <th>Spel</th>
                    <th>Smeknamn</th>
                    <th>Poäng</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="r in results | filter:filterResults | orderBy:'-id' | orderBy:'-score' | limitTo:10">
                    <td>{{ r.game_name }}</td>
                    <td>{{ r.user_nickname }}</td>
                    <td>{{ r.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>