
@{
    ViewBag.Title = "Index";
}

<h2>Miniprojekt</h2>

<p>Välkommen till startsidan för miniprojektet.</p>
<p>Välj mellan olika spel i menyn ovan.</p>
<p>På topplistan kan du se vem som fick mest poäng i varje spel.</p>