@model Miniprojekt.Models.Result

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/App/Asterix/IndexController.js"></script>
}

<div data-ng-app="asterix" data-ng-controller="IndexController">
    <div class="col-sm-12">
        <h2>Asterixspelet</h2>
        <h4>Skriv av texten och sätt in rätt skiljetecken där en asterisk (*) finns markerad.</h4>

        <div class="panel panel-info">
            <div class="panel-body">
                <p data-ng-bind-html="curProblem.dispText"></p>
            </div>
        </div>

        <div class="panel panel-{{ panelType }}" data-ng-show="panelHeading">
            <div class="panel-heading"><strong>{{ panelHeading }}</strong> - Du fick {{ userScore }} / {{ expectedScore }} poäng.</div>
            <div class="panel-body">
                <p data-ng-bind-html="panelText"></p>
            </div>
        </div>

        <form data-ng-submit="play()" data-ng-show="showPlay">
            <div class="input-group">
                <textarea class="form-control" name="inputText" style="min-width: 500px" data-ng-model="inputText"></textarea>
            </div>
            <div class="input-group">
                <button class="btn btn-primary" type="submit">Rätta</button>
            </div>
        </form>

        <button class="btn btn-primary" data-ng-show="!showPlay && !alertMsg" data-ng-click="nextProblem()">Nästa</button>

        <div data-ng-show="showReg">
            <div class="alert alert-{{alertType}}" data-ng-show="alertMsg">
                <strong>{{ alertMsg }}</strong>
            </div>
            <form class="form-inline" data-ng-hide="alertType == 'success'" data-ng-submit="registerScore()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Smeknamn:</span>
                        <input class="form-control" type="text" name="nickname" data-ng-model="nickname" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Registrera</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>