@model Miniprojekt.Models.Result

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/App/Asterix/IndexController.js"></script>
}

<div class="col-sm-12" data-ng-app="asterix" data-ng-controller="IndexController">
    <div class="row">
        <h2>Asterixspelet</h2>
        <h4>Skriv av texten och sätt in rätt skiljetecken där en asterisk (*) finns markerad.</h4>

        <div class="panel panel-info">
            <div class="panel-body">
                <p data-ng-bind-html="dispText"></p>
            </div>
        </div>

        <div class="panel panel-{{ panelType }}" data-ng-show="panelHeading">
            <div class="panel-heading"><strong>{{ panelHeading }}</strong> - Du fick {{ userScore }} / {{ totalScore }} poäng.</div>
            <div class="panel-body">
                <p data-ng-bind-html="panelText"></p>
            </div>
        </div>

        <form data-ng-submit="play()">
            <div class="input-group">
                <textarea class="form-control" name="inputText" style="min-width: 500px" data-ng-model="inputText"></textarea>
            </div>
            <div class="input-group">
                <button class="btn btn-primary" type="submit">Rätta</button>
            </div>
        </form>
    </div>
</div>