
@{
    ViewBag.Title = "GissaFarg";
}

<h2>GissaFarg</h2>

<body>
    <div class="bodytable">
        <center>
            <table>
                <tr>
                    <th>
                        <button type="button">Grön</button> 
                        
                    </th>
                    <th>
                        <button type="button">Röd</button> 
                    </th>
                    <th>
                        <button type="button">Blå</button>
                    </th>
                    <th>
                        <button type="button">Vit</button>
                    </th>
                </tr>
            </table>
        </center>
    </div>
</body>